@media only screen and (max-width: 600px) {


* {
  box-sizing: border-box;
  width:100%}
}
body {
  font-size: 14px;
  background: rgba(245,241,255,1);


}
.irow{
transform: translate(27px, 23px);
}

.frow{
transform: translate(67px, 10px);
}

.logo{
transform: translate(10px, 80px);
}


.v30_15 {
  width: 393px;
  height: 670px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v34_176 {
  width: 235px;
  height: 53px;
  background: rgba(88,62,131,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 131px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v34_177 {
  width: 393px;
  height: 60px;
  background: rgba(98,74,139,1);
  opacity: 1;
  position: absolute;
  top: 623px;
  left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v30_55 {
  width: 158px;
  height: 48px;
  background: rgba(232,221,255,1);
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 27px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v40_25 {
  width: 158px;
  height: 48px;
  background: rgba(232,221,255,1);
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 208px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v30_53 {
  width: 57px;
  color: rgba(232,221,255,1);
  position: absolute;
  top: 95px;
  left: 178px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_257 {
  width: 37px;
  color: rgba(88,62,131,1);
  position: absolute;
  top: 92px;
  left: 74px;
  font-family: Yesteryear;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_258 {
  width: 25px;
  color: rgba(88,62,131,1);
  position: absolute;
  top: 114px;
  left: 80px;
  font-family: Yesteryear;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_162 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 38px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_163 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 155px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_164 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 294px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_175 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 388px;
  left: 291px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_168 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 580px;
  left: 53px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_171 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 701px;
  left: 39px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_169 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 674px;
  left: 155px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_172 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 701px;
  left: 162px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_170 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 676px;
  left: 278px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_173 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 701px;
  left: 287px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_165 {
  width: 45px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 514px;
  left: 54px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_192 {
  width: 51px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 813px;
  left: 42px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_227 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 813px;
  left: 162px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_212 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 813px;
  left: 291px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_166 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 516px;
  left: 176px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_167 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 516px;
  left: 283px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v34_174 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 538px;
  left: 297px;
  font-family: Javanese Text;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v34_73 {
  width: 100px;
  height: 99px;
  background: rgba(88,62,131,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 27px;
  border-radius: 50%;
}
.v34_76 {
  width: 100px;
  height: 99px;
  background: rgba(88,62,131,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 27px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v117_45 {
  width: 100px;
  height: 99px;
  background: url("../images/v117_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 147px;
  overflow: hidden;
}
.v73_499 {
  width: 100px;
   height: 99px;
   background: rgba(88,62,131,1);
   opacity: 1;
   position: relative;
   top: 0px;
   left: 0px;
   border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_46 {
  width: 219px;
  height: 401px;
  background: url("../images/v117_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 147px;
  overflow: hidden;
}
.v34_75 {
  width: 100px;
  height: 99px;
  background: rgba(88,62,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 119px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v117_51 {
  width: 100px;
  height: 99px;
  background: url("../images/v117_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 0px;
  overflow: hidden;
}
.v34_153 {
  width: 100px;
  height: 99px;
  background: rgba(88,62,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v117_48 {
  width: 100px;
  height: 99px;ound-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}





.name {
  color: #fff;
}
.v117_49 {
  width: 100px;
  height: 99px;
  background: url("../images/v117_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 417px;
  left: 266px;
  overflow: hidden;
}
.v34_82 {
  width: 100px;
  height: 99px;
  background: rgba(88,62,131,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v117_50 {
  width: 100px;
  height: 99px;
  background: url("../images/v117_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 27px;
  overflow: hidden;
}
.v34_151 {
  width: 100px;
  height: 99px;
  background: rgba(88,62,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v117_52 {
  width: 100px;
  height: 99px;
  background: url("../images/v117_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 266px;
  overflow: hidden;
}
.v34_154 {
  width: 100px;
  height: 99px;
  background: rgba(88,62,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_47 {
  width: 100px;
  height: 99px;
  background: url("../images/v117_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 417px;
  left: 27px;
  overflow: hidden;
}
.v34_79 {
  width: 100px;
  height: 99px;
  background: rgba(88,62,131,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}


}